.container {
    border: rgb(255, 242, 57) 2px solid;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: rgb(233, 233, 233);

    
}
.img {
    background-image: url(BD5CED6F-FB18-4006-AE1B-4991D7D97FC6.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 200px;
}
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
}
.sub-header {
    margin-top: 50px;
    margin-left: 50px;
    flex-direction: column;
}
.sep-line {
    display: flex;
    width: 700px;
    height: 1px;
    background-color: black;
    margin-top: 30px;
}
.name {
   font-size: 30px;
   font-family: monospace;
   
}
.job {
    font-size: 20px;
    font-family: monospace;
    margin-top: 10px    ;
}
.num-mail {
    font-size: 15px;
    font-family: monospace;
    margin-top: 10px;
    
}
.body {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.body-left {
    background-color: #dcd3ff;
}
.about-me {
    margin-top: 30px;
    border: slategrey 2px solid;
    box-sizing: border-box;
    width: 300px;
    
}
p {
    font-size: 20px;
    width: 70%;
    text-align: left;

}
h5 {
    font-size: 17px;
}
.address {
    margin-top: 30px;
    border: slategrey 2px solid;
    box-sizing: border-box;
    width: 300px;
}
.skill-lang {
    margin-top: 30px;
    border: slategrey 2px solid;
    box-sizing: border-box;
    width: 300px;
}
.soft-skill {
    margin-top: 30px;
    border: slategrey 2px solid;
    box-sizing: border-box;
    width: 300px;
}
.light-bar {
    display: flex;
    width: 300px;
    height: 10px;
    background-color: silver;
}
.style-bar {
    display: flex;
    width: 80%;
    height: 10px;
    background-color: black;
}
.light-bar1 {
    display: flex;
    width: 300px;
    height: 10px;
    background-color: silver;
}
.style-bar1 {
    display: flex;
    width: 60%;
    height: 10px;
    background-color: black;
}
.light-bar2 {
    display: flex;
    width: 300px;
    height: 10px;
    background-color: silver;
}
.style-bar2 {
    display: flex;
    width: 90%;
    height: 10px;
    background-color: black;
}.light-bar3 {
    display: flex;
    width: 300px;
    height: 10px;
    background-color: silver;
}
.style-bar3 {
    display: flex;
    width: 50%;
    height: 10px;
    background-color: black;
}.light-bar4 {
    display: flex;
    width: 300px;
    height: 10px;
    background-color: silver;
}
.style-bar4 {
    display: flex;
    width: 70%;
    height: 10px;
    background-color: black;
}
.body-right {
    margin-right: 20px;
    background-color: #ffffd1;
}
.work {
    margin-top: 30px;
    border: slategrey 2px solid;
    box-sizing: border-box;
    width: 300px;
}
.work-date {
    font-size: 21px;
}
.work-box {
    display: grid;
    grid-template-columns: 1fr 50px 3fr;
    margin: 0px;
    padding: 0px;
}
.work-box>h5 {
    margin: 0px;
    padding: 0px;
}

.education-box {
    display: grid;
    grid-template-columns: 1fr 50px 3fr;
    margin: 0px;
    padding: 0px;
    
}
.education {
    border: slategrey 2px solid;
    box-sizing: border-box;
    width: 300px;
}
.education-box>h5 {
    margin: 0px;
    padding: 0px;
}
h3 {
    display: flex;
    font-family: monospace;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
h5 {
    font-family: monospace;
}
.line-break {
    display: flex;
    justify-content: center;
    
}

@media only screen and (max-width:768px) {
    .container {
        width: 80%;
        grid-template-columns: 1fr 2fr;
    }
    .sep-line {
        width: 100%; 
    }
    .about-me {
        margin: 0px;
        border: slategrey 2px solid;
        width: 140px;
        height: 30px;
    }
    .body-left{
    }

    .img {
        background-image: url(BD5CED6F-FB18-4006-AE1B-4991D7D97FC6.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }

    .body-right {
        margin: 0;
    }
    .address {
        margin: 0px;
        border: slategrey 2px solid;
        width: 140px;
        height: 30px;
    }
    .skill-lang {
        margin-top: 15px;
        border: slategrey 2px solid;
        width: 140px;
        height: 50px;
    }
    .soft-skill {
        margin-top: 15px;
        border: slategrey 2px solid;
        width: 140px;
        height: 30px;
    }
    p {
        font-size: 21px;
        width: 80%;
        text-align: left;
        box-sizing: content-box;
        display: flex;
        flex-wrap: wrap;
    }
    .work {
        margin: 0px;
        border: slategrey 2px solid;
        width: 140px;
        height: 30px;
    }    
    .education {
        margin: 0px;
        border: slategrey 2px solid;
        width: 140px;
        height: 30px;
    }
    .light-bar {
        width: 150px;
    }
    .light-bar1 {
        width: 150px;
    }    
    .light-bar2 {
        width: 150px;
    }    
    .light-bar3 {
        width: 150px;
    }
    .light-bar4 {
        width: 150px;
    }            
    .work-box {
        margin-top: 15px;
    }
    h5 {
        font-size: 16px;
    }
    .education-box {
        margin-top: 15px;
    }
}

@media only screen and (max-width:480px) {
    .body {
        display: grid;
        grid-template-columns: auto;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img {
        background-image: url(BD5CED6F-FB18-4006-AE1B-4991D7D97FC6.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }        
    .work-box {
        grid-template-columns: 1fr;
    }
    .line-break {
        visibility: hidden;
    }